
@media (max-width: 868px) {
    .horTimelineMain {
        max-width: 90vw;

    }
}
@media (min-width: 869px) {
    .horTimelineMain {
        max-width: 50vw;
        /*min-width: 5vw;*/
    }
}
@media (min-width: 1150px) {
    .horTimelineMain {
        max-width: 40vw;
    }
}
@media (min-width: 1400px) {
    .horTimelineMain {
        max-width: 52vw;
    }
}




.horTimelineMain::-webkit-scrollbar {
    width:  10px;
    height: 10px;
    /*border-radius: 10px;*/
}


.horTimelineMain::-webkit-scrollbar{
    border: 8px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    /*background-color:  none;*/

}

.horTimelineMain::-webkit-scrollbar-thumb {
    background-color: #ccc;
    width: 1px;
    border-radius: 15px;
}


.horTimelineMain {

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.8) rgba(2, 142, 74, 1) ;

    min-width: 20vw;
    width: auto;
    /*width: 1000px;*/
    height: 700px;
    overflow: scroll;

    border: 2px solid #767877;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

}



.horTimelineTimeContainer::-webkit-scrollbar {
    width: 16px;
}

.horTimelineTimeContainer::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.horTimelineTimeContainer::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}


.horTimelineTimeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*padding-left: 150px;*/
    position: sticky;
    top: 0;
    height: 25px;
    border-bottom: 1px #767877 solid;
    z-index: 2;
    background: #ffffff;
    width: 6000px;

    /*position:sticky;*/
    /*top:0;*/
}
.horTimelineTimeEmptyDiv{
    border-right: 1px #767877 solid;
    border-bottom: 1px #767877 solid;
    background: white;
    width: 150px;
    height: inherit;
    position: sticky;
    left: 0;
}

.horTimelineTimeElement {
    text-align: center;
    padding: 0 15px;
    color: black;
    /*color:#A6A6A6;*/
    width: max-content;

    /*!*height: inherit;*!*/
    /*line-height: 100%*/

}


.horTimelineRoomRow {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D2D4D4;
    background: white;

    /*background: #424242;*/
}

.horTimelineRoomData {
    position: relative;
    height: inherit;
    display: flex;
}


.horTimelineRoomTitle {
    background: #ffffff;


    width: 150px;
    height: max-content;
    padding: 19px 0;
    text-align: center;
    border-right: 1px solid #767877;
    font-weight: 500;
    font-size: 14px;
    min-height: 25px;

    color: black;
    /*color:#A6A6A6;*/

    position: sticky;
    left: 0;
    z-index: 1;
}
