.homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-card-container {
    height: 100%;
    width: 100%;
    flex-shrink: 10;
    margin-left: 10%;
}


.homepage-right-menu {
    height: inherit;
    /*height: 100%;*/
    min-width:30%;
    border-left: 1px solid #c3c3c3;
    flex-shrink: 0;
}

@media only screen and (max-width: 868px) {
    .homepage-container {
        flex-direction: column;
    }

    .homepage-right-menu,
    .booking-card-container {
        border: none;
        width: 100%;
        margin-left: 0;
    }
}

input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: red;
    display: none;
}

input[type="time"] {
    -webkit-appearance: none;
}

input[type="time"] {
    -webkit-appearance: none;
}

input[type="time"]::-webkit-date-and-time-value {
    margin: 0;
    width: 100%;
    text-align: center;
}

input[type="time"]::-ms-clear {
    display: none;
}