.time-star-major {
    border-radius: 0.5rem;
    /*border: 1px solid hsl(var(--border));*/
    /*box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    width: max-content;

}

.time-star-major-con {
    width: 315px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;

    margin-left: auto;
    margin-right: auto;
}


.icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    background-color: rgba(var(--background));
    color: rgba(var(--foreground));
}

@media (max-width: 870px) {
    .time-star-major {
        padding: 15px 0;
        width: inherit;
    }
}

.ant-timeline-item-label {
    background-color: rgba(var(--background));
    color: rgba(var(--foreground));
    width: inherit;
}

.time-star-booking {
    /*width: max-content;*/
    text-align: center;
    position: relative;
    line-height: 22px;
    height: 22px;
    background-color: rgba(var(--background));
    color: rgba(var(--foreground));
}

.time-star-title {
    width: 140px;
    margin-left: 15px;
    background-color: rgba(var(--background));
    color: rgba(var(--foreground));
    line-height: 22px;
}

.ant-timeline-item-last {
    height: 0;
}


.ant-timeline-time-content {
    background: red;
}