.icon {
    color:orange;
    /*background: red;*/

}

/*.time-star-booking{*/
/*    background: red;*/
/*}*/

/*.time-star-title {*/
/*    background: red;*/
/*}*/

.time-star-major-con{
    /*background: red;*/
    width: 315px;
    height: max-content;

    display: flex;
    flex-direction: column;
    /*padding: 8px 0;*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 15px;*/


    /*padding: 15px 10px;*/

}


.icon{
    font-size: 16px;
    height: 16px;
    width: 16px;
    /*margin-top: 8px;*/
}

/*.ant-timeline-label{*/
/*    background: red;*/
/*}*/

/*.ant-timeline-item-left{*/
/*    background: yellow;*/
/*}*/

.ant-timeline-item-label{
    /*background: blue;*/
    width: inherit;
}

.time-star-booking{
    /*width: max-content;*/
    text-align: center;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    /*width: max-content;*/
    /*background: red;*/
    /*width: max-content;*/


}
.time-star-title{
    width:140px;
    margin-left: 15px;

    font-size: 16px;
    line-height: 22px;
}

.ant-timeline-item-last{
    height: 0;
}


.ant-timeline-time-content{
    background: red;
}